{% extends 'main/base.html' %}

{% block title %}Фотограф | Анна Светличная{% endblock %}

{% block content %}
<div class="photographer-page">


    <div class="photographer-description">
        <p>

            Привет! Меня зовут Анна Светличная, и я профессиональный фотограф с опытом работы более 7 лет.
            За это время я прошла большой путь в освоении искусства фотографии и работы с клиентами.
            Каждая фотосессия для меня — это не просто работа, а уникальная история, которая заслуживает
            индивидуального подхода и тщательной подготовки.
        </p>
        <p>
            Моя основная цель — запечатлеть моменты, которые останутся с вами навсегда. Я работаю с современной аппаратурой,
            что позволяет создавать изображения высочайшего качества, будь то свадебные фотографии, портретные съёмки,
            семейные фотосессии или рекламные проекты.
        </p>
        <p>
            Если вам нужна фотосессия, которая будет соответствовать вашим ожиданиям и подчеркнёт важные моменты вашей жизни,
            буду рада стать вашим фотографом. Вместе мы создадим нечто удивительное!
        </p>
    </div>


{% endblock %}
