{% extends 'main/base.html' %}

{% block title %}Блог{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/blog.css') }}">

<div class="container mt-4">
    <h1 class="text-center mb-4" style="color: #1976D2;">Наш блог</h1>
    <div class="row">
        {% if posts %}
            {% for post in posts %}
            <div class="col-md-4">
                <div class="blog-card">
                    <div class="blog-content">
                        <h2 class="blog-title">{{ post.title }}</h2>
                        <p class="blog-snippet">{{ post.snippet }}</p>
                        <p class="blog-date">{{ post.created_at.strftime('%d.%m.%Y') }}</p>
                        <a href="{{ url_for('post.post_detail', post_id=post.id) }}" class="read-more custom-button">Читать далее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Нет постов для отображения.</p>
        {% endif %}
    </div>
</div>

<!-- Добавляем JavaScript для изменения стиля кнопок после 18:00 -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentTime = new Date();
        const hours = currentTime.getHours();

        // Проверяем, если текущее время больше или равно 18:00
        if (hours >= 18) {
            const buttons = document.querySelectorAll('.custom-button');
            buttons.forEach(button => {
                button.classList.add('custom-button-orange'); // Добавляем класс для оранжевого стиля
            });
        }
    });
</script>

{% endblock %}
