{% extends 'main/base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/blog.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container mt-4">
    <h1 class="text-center mb-4" style="color: #1976D2;">Наш блог</h1>
    <div class="row">
        {% if posts %}
            {% for post in posts %}
            <div class="col-md-4">
                <div class="blog-card">
                    <div class="blog-content">
                        <h2 class="blog-title">{{ post.title }}</h2>
                        <p class="blog-snippet">{{ post.snippet }}</p>
                        <p class="blog-date">{{ post.created_at.strftime('%d.%m.%Y') }}</p>
                        <div class="button-container">
                            <a href="{{ url_for('post.post_detail', post_id=post.id) }}" class="read-more custom-button">Читать далее</a>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <button class="btn-action btn-edit" title="Редактировать">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="btn-action btn-delete" title="Удалить">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Нет постов для отображения.</p>
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentTime = new Date();
        const hours = currentTime.getHours();

        if (hours >= 18) {
            const buttons = document.querySelectorAll('.custom-button');
            buttons.forEach(button => {
                button.classList.add('custom-button-orange');
            });
        }
    });
</script>

{% endblock %}