{% extends 'main/base.html' %}

{% block title %}Добавление в блог{% endblock %}

{% block content %}
<form class="dark-grey-form p-3 rounded" method="POST" action="{{ url_for('post.create') }}" enctype="multipart/form-data">
    <input type="text" name="title_post" placeholder="Название темы" class="form-control mb-2" required>
    <textarea name="content_post" id="editor" placeholder="Основной текст" class="form-control mb-2" required></textarea>
    <input type="text" name="snippet_post" placeholder="Снипет" class="form-control mb-2" required>
    <input type="file" name="images" class="form-control mb-2" accept="image/*" multiple>
    <input value="Сохранить" type="submit" class="btn btn-primary">
</form>

<!-- Подключение CKEditor для редактирования текста -->
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<script>
    // Инициализация CKEditor для текстового поля
    CKEDITOR.replace('content_post', {
        height: 300 // Настройка высоты редактора
    });
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/create_post.css') }}">
{% endblock %}
