{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <form class="dark-grey-form p-3 rounded" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <input type="text" name="name" placeholder="ФИО" class="form-control mb-2" required>
        <input type="text" name="login" placeholder="Логин" class="form-control mb-2" required>
        <input type="password" name="password" placeholder="Пароль" class="form-control mb-2" required>
        <input type="password" name="confirm_password" placeholder="Подтвердите пароль" class="form-control mb-2" required>
        <input type="file" name="avatar" class="form-control mb-2" accept="image/*">
        <input value="Зарегистрироваться" type="submit" class="btn btn-primary">
    </form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/create_post.css') }}">
{% endblock %}
