@import url('fonts.css');

body {
    background: #212121; /* Цвет фона */
    color: #e2e0e0; /* Цвет текста */
    background-image: url('../img/background.jpg'); /* Путь к вашему изображению */
    background-size: cover; /* Растягивает изображение, чтобы покрыть весь экран */
    background-position: center; /* Центрирует изображение */
    background-attachment: fixed; /* Фиксирует изображение при прокрутке */
    margin: 0;
    padding: 0;
}

/* Применяем черную обводку для текста */
body, p, h1, h2, h3, h4, h5, h6, a, span {
    text-shadow: 1px 1px 2px #000; /* Черная тень вокруг текста */
    color: #e2e0e0; /* Цвет текста */
}


.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    padding: 20px;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
    flex: 1 1 auto;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    color: #1976D2; /* Синий цвет для заголовка */
}

.header__img {
    display: block;
    width: 48px;
    height: 48px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    color: #1976D2; /* Применяем синий цвет */
    font-size: 2rem; /* Можно регулировать размер шрифта */
}
