{% extends 'main/base.html' %}

{% block title %} Контакты | Анна Светличная {% endblock %}

{% block content %}
<div class="contact-page">

    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-phone-alt"></i>
            <span>+7 (988) 706-17-91</span>
        </div>

        <div class="contact-item">
            <i class="fab fa-vk"></i>
            <a href="https://vk.com/fotograf__stavropol" target="_blank">VK: vk.com/fotograf__stavropol</a>
        </div>

        <div class="contact-item">
            <i class="fab fa-instagram"></i>
            <a href="https://instagram.com/anna_svetlichnaya" target="_blank">Instagram: @anna_svetlichnaya</a>
        </div>

        <div class="contact-item">
            <i class="fas fa-camera"></i>
            <a href="https://mywed.com/ru/photographer/svetlichnaya/" target="_blank">MyWed</a>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>ул. 50 лет ВЛКСМ, 61 (этаж цокольный), Ставрополь</span>
        </div>

    </div>


</div>
{% endblock %}
